<!DOCTYPE HTML>

<!--

	Aerial by HTML5 UP

	html5up.net | @n33co

	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

-->

<html>

	<head>

		<title>Aerial by HTML5 UP</title>

		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

		<link rel="stylesheet" href="css/main.css" />

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	</head>

	<body class="loading">

		<div id="wrapper">

			<div id="bg"></div>

			<div id="overlay"></div>

			<div id="main">




				<!-- Header -->

        <header 

					 id="header">

        <img src = http://i.imgur.com/y61uTRH.png >

						<h1>First Aid Today</h1>

							<p> Using Technology to help people and make the world a better place. 
              &nbsp;&bull;&nbsp; Manufactured by Britni Januzys & 
              &nbsp;&bull;&nbsp; Gretchen Hubbard</p>

						<center>

Please enter your Issue: 

 <select form="condition_form" name="conditions">
  <option value="Anaphylaxis">anaphylaxis</option>
  <option value="Animal bites">animal bites</option>
  <option value="Blister">Blister</option> 
  <option value="Black eye">black eye</option> 
  <option value="Burns">burns</option>
  <option value="Bruise">bruise</option>
  <option value="CPR">CPR</option>
  <option value="Chemical burns">chemical burns</option>
  <option value="Chest pain">chest pain</option>
  <option value="Choking">choking</option>
   <option value="Corneal abrasion">corneal abrasion</option>
  <option value="Dislocation">Dislocation</option>
  <option value="Electrical Shock">Electrical Shock</option>
  <option value="Fainting">Fainting</option>
  <option value="Foreign object in ear">Foreign object in ear</option>  
  <option value="Foreign object in eye">Foreign object in eye</option>
  <option value="Foreign object in nose">Foreign object in nose</option>
  <option value="Fractures">fractures</option>
  <option value="Frostbite">Frostbite</option>
  <option value="Gastroenteritis">Gastroenteritis</option>
  <option value="Head Pain">Head Pain</option>
  <option value="Heatstroke">heatstroke</option>
  <option value="Nosebleed">nosebleed</option>
  <option value="Poisoning">nosebleed</option>
  <option value="Severe Bleeding">nosebleed</option>
  <option value="Stroke">nosebleed</option>
  <option value="Shock">Shock</option>
   <option value="Sprain">Sprain</option>
  <option value="Sunburn">sunburn</option>
   <option value="Tooth Loss">sunburn</option>
   
</select>
<form method="POST"action="/result" id="condition_form">
<input type="submit" value="Submit">

     </form> </center>

					</header>




				<!-- Footer -->

					<footer id="footer">

						<span class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>

					</footer>




			</div>

		</div>

		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

		<script>

			window.onload = function() { document.body.className = ''; }

			window.ontouchmove = function() { return false; }

			window.onorientationchange = function() { document.body.scrollTop = 0; }

		</script>

	</body>

</html>