
<!DOCTYPE html>

<html>
<body bgcolor="#FFE4E1">
 <head>

  <meta charset="UTF-8">

  <title>Result Page</title>

  <link rel="stylesheet" href="stylesheet.css" type="text/css">

  <style type="text/css">

   

  </style>

 </head>

 <body>

  <h1>"Results are"</h1>


   <h1>Your result is: <%=@result%> </h1>

 

 </body>

</html>